/cache
.settings/
target/
.classpath
.project
*.log
*.log.*
/*/.gitignore
*.log*
.DS_Store
.idea/
*.iml
*.iws
*.ipr
/*/cache/
*.txt
/bin/
*/bin
/package.sh
grail/
/out/
.mvn/
mvnw
mvnw.cmd
logs/
reports/
test-output/